In [1]:
#import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import io
import os
import sys
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

In [2]:
#import 5 prediction results  
df=pd.read_excel('Logreg_Predicted.xlsx')
knn_df=pd.read_excel('KNN_Predicted.xlsx')
nbay_df=pd.read_excel('NaiveBayes_Predicted.xlsx')
dtc_df=pd.read_excel('DTC_Predicted.xlsx')
lsvc_df=pd.read_excel('SVC_Linear_Predicted.xlsx')

In [3]:
#merge results 
df=knn_df.merge(df, how='left', left_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'], right_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'])

In [4]:
df.head()

,Unnamed: 0_x,UserID,PurchaseID,Duration,touch1,touch2,touch3,touch4,touch5,touch6,DEVICE_TYPE,Journey Length,total_interaction,knn_cluster,knn_predicted_cluster,knn_p,Unnamed: 0_y,cluster,predicted_cluster,logreg_p
0,0,1,3,0.000217,0.0,0.000000,1.000000,0.0,0.000000,0.000000,1.0,0.000000,0.000000,1,0,0,0,1,0,0
1,1,1,4,0.001666,1.0,0.000000,0.000000,0.0,0.000000,0.000000,1.0,0.392097,0.000588,1,0,0,1,1,0,0
2,2,1,5,0.000556,0.0,0.000000,0.504263,0.0,0.159007,0.336731,1.0,0.196049,0.000294,1,0,0,2,1,0,0
3,3,2,6,0.001505,0.0,0.866747,0.000000,0.0,0.000000,0.133253,0.0,0.284195,0.003824,3,1,0,3,3,0,0
4,4,2,7,0.000043,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.000147,3,0,0,4,3,0,0

In [5]:
df=df.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis=1)

In [6]:
df=nbay_df.merge(df, how='left', left_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'], right_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'])

In [7]:
df.head()

,Unnamed: 0,UserID,PurchaseID,Duration,touch1,touch2,touch3,touch4,touch5,touch6,...,total_interaction,naby_cluster,nbay_predicted_cluster,nbay_p,knn_cluster,knn_predicted_cluster,knn_p,cluster,predicted_cluster,logreg_p
0,0,1,3,0.000217,0.0,0.000000,1.000000,0.0,0.000000,0.000000,...,0.000000,1,4,0,1,0,0,1,0,0
1,1,1,4,0.001666,1.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000588,1,0,0,1,0,0,1,0,0
2,2,1,5,0.000556,0.0,0.000000,0.504263,0.0,0.159007,0.336731,...,0.000294,1,0,0,1,0,0,1,0,0
3,3,2,6,0.001505,0.0,0.866747,0.000000,0.0,0.000000,0.133253,...,0.003824,3,0,0,3,1,0,3,0,0
4,4,2,7,0.000043,0.0,0.000000,0.000000,0.0,0.000000,1.000000,...,0.000147,3,0,0,3,0,0,3,0,0

In [8]:
df=df.drop(['Unnamed: 0'], axis=1)

In [9]:
df=dtc_df.merge(df, how='left', left_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'], right_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'])

In [10]:
df.head()

,Unnamed: 0,UserID,PurchaseID,Duration,touch1,touch2,touch3,touch4,touch5,touch6,...,dtc_p,naby_cluster,nbay_predicted_cluster,nbay_p,knn_cluster,knn_predicted_cluster,knn_p,cluster,predicted_cluster,logreg_p
0,0,1,3,0.000217,0.0,0.000000,1.000000,0.0,0.000000,0.000000,...,0,1,4,0,1,0,0,1,0,0
1,1,1,4,0.001666,1.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0,1,0,0,1,0,0,1,0,0
2,2,1,5,0.000556,0.0,0.000000,0.504263,0.0,0.159007,0.336731,...,1,1,0,0,1,0,0,1,0,0
3,3,2,6,0.001505,0.0,0.866747,0.000000,0.0,0.000000,0.133253,...,1,3,0,0,3,1,0,3,0,0
4,4,2,7,0.000043,0.0,0.000000,0.000000,0.0,0.000000,1.000000,...,1,3,0,0,3,0,0,3,0,0

In [11]:
df=df.drop(['Unnamed: 0'], axis=1)

In [12]:
df=lsvc_df.merge(df, how='left', left_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'], right_on=['PurchaseID','Duration','UserID','touch1','touch2','touch3','touch4','touch5','touch6','DEVICE_TYPE','Journey Length','total_interaction'])

In [13]:
df.head()

,Unnamed: 0,UserID,PurchaseID,Duration,touch1,touch2,touch3,touch4,touch5,touch6,...,dtc_p,naby_cluster,nbay_predicted_cluster,nbay_p,knn_cluster,knn_predicted_cluster,knn_p,cluster,predicted_cluster,logreg_p
0,0,1,3,0.000217,0.0,0.000000,1.000000,0.0,0.000000,0.000000,...,0,1,4,0,1,0,0,1,0,0
1,1,1,4,0.001666,1.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0,1,0,0,1,0,0,1,0,0
2,2,1,5,0.000556,0.0,0.000000,0.504263,0.0,0.159007,0.336731,...,1,1,0,0,1,0,0,1,0,0
3,3,2,6,0.001505,0.0,0.866747,0.000000,0.0,0.000000,0.133253,...,1,3,0,0,3,1,0,3,0,0
4,4,2,7,0.000043,0.0,0.000000,0.000000,0.0,0.000000,1.000000,...,1,3,0,0,3,0,0,3,0,0

In [14]:
df=df.drop(['Unnamed: 0'], axis=1)

In [15]:
df.head()

,UserID,PurchaseID,Duration,touch1,touch2,touch3,touch4,touch5,touch6,DEVICE_TYPE,...,dtc_p,naby_cluster,nbay_predicted_cluster,nbay_p,knn_cluster,knn_predicted_cluster,knn_p,cluster,predicted_cluster,logreg_p
0,1,3,0.000217,0.0,0.000000,1.000000,0.0,0.000000,0.000000,1.0,...,0,1,4,0,1,0,0,1,0,0
1,1,4,0.001666,1.0,0.000000,0.000000,0.0,0.000000,0.000000,1.0,...,0,1,0,0,1,0,0,1,0,0
2,1,5,0.000556,0.0,0.000000,0.504263,0.0,0.159007,0.336731,1.0,...,1,1,0,0,1,0,0,1,0,0
3,2,6,0.001505,0.0,0.866747,0.000000,0.0,0.000000,0.133253,0.0,...,1,3,0,0,3,1,0,3,0,0
4,2,7,0.000043,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.0,...,1,3,0,0,3,0,0,3,0,0

In [16]:
#calculate the sum of successful predictions per each model by user
sum_df=df.groupby(['UserID'])['lsvc_p','dtc_p','knn_p','nbay_p','nbay_p'].sum()

<ipython-input-16-d9bba28c8f4f>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sum_df=df.groupby(['UserID'])['lsvc_p','dtc_p','knn_p','nbay_p','nbay_p'].sum()

In [17]:
sum_df.dtypes

lsvc_p    int64
dtc_p     int64
knn_p     int64
nbay_p    int64
nbay_p    int64
dtype: object

In [18]:
sum_df['sum_p']=sum_df.sum(axis = 1, skipna = True)

In [19]:
sum_df.head()

        lsvc_p  dtc_p  knn_p  nbay_p  nbay_p  sum_p
UserID
1            0      1      0       0       0      1
2            0      4      1       0       0      5
4            2      1      1       2       2      8
5            8      7      7       7       7     36
6            0      3      1       1       1      6

In [20]:
sum_df.to_excel('prediction results.xlsx')